@import 'fonts';
@import 'flower';

body {
  background: #E7E7E7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px;
}
.section {
  position: relative;
}
.menu {
  //background: url("/images/divider--type1.png") center bottom no-repeat;
  //padding-bottom: 41px;;
  ul {
    text-align: center;
    padding: 20px 0 7px;
    li {
      display: inline-block;
      padding: 0 20px;
      line-height: 14px;
      border-right: 1px solid black;
      &:last-child {
        border: none;
      }
      a {
        font-weight: 100;
        font-size: 12px;
        color: black;
        text-transform: uppercase;
        &:hover {
          //text-decoration: none;
        }
      }
    }
  }
}
.section {
  background: url("/images/divider--type2.png") center top no-repeat;
  padding-top: 47px;
  & > .row {
    max-width: 700px;
    margin: 0 auto;
  }
}
.header {
  background: url("/images/divider--type1.png") center top no-repeat;
  padding-top: 41px;
  //.col-12 {
  //  text-align: center;
  //}
  overflow: hidden;

  position: relative;
  .col-12 {
    padding: 0;
  }
}
.ourservices {
  overflow: hidden;

  .text {
    margin: 130px auto 188px auto;
  }
  .content {
    padding-bottom: 28px;
  }
}
.ourteam {
  overflow: hidden;

  h3 {
    height: 27px;
    margin: 30px auto;
    text-indent: -10000px;
    width: 151px;
  }
  .martina {
    img {
      max-width: 100%;
    }
    h3 {
      background: url("/images/martina__name.jpg") center center no-repeat;
      background-size: contain;
      max-width: 100%;
    }
  }
  .patricie {
    img {
      max-width: 100%;
    }
    h3 {
      background: url("/images/patricie__name.jpg") center center no-repeat;
      background-size: contain;
      max-width: 100%;
    }
  }
  .stepan {
    img {
      max-width: 100%;
    }
    h3 {
      background: url("/images/stepan__name.jpg") center center no-repeat;
      background-size: contain;
      max-width: 100%;

    }
  }
  .phone {
    font-weight: 400;
    padding: 10px 0 20px 0;
  }
  .order {
    font-size: 16px;
    text-transform: uppercase;
    color: #b7b6b6;
    font-weight: 400;
    padding: 0 0 40px 0;
  }
}
.contact {
  background: url("/images/map.jpg") center bottom no-repeat;
  padding-bottom: 416px;
  h2 {
    margin-bottom: 20px;
  }
  .address {
    background: url("/images/divider--type1.png") center top no-repeat;
    padding-top: 41px;
    p {
      font-size: 14px;
      font-family: 'montserratsemibold';
    }
    .big {
      font-size: 18px;
      font-family: 'montserratlight';
    }
  }
  .socialicons {
    margin: 20px 0 40px;
  }
}
.footer {
  background: black;
  color: white;
  font-size: 12px;
  line-height: 34px;
  .section {
    background: none;
    padding-top: 0;
  }
  .col-6:nth-child(2) {
    text-align: right;
    img {
      position: relative;
      top: -1px;
    }
  }
  p {
    margin: 0;
  }
}
h1 {
  background: url("/images/logo.png") center center no-repeat;
  text-indent: -10000px;
  height: 533px;
  margin: -50px auto 100px auto;
  //width: 708px;
  width: 100%;
}
h2 {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 17px;
}

.creams {
  background: url("/images/creams.png") no-repeat;
  width: 306px;
  height: 161px;
  position: absolute;
  left: 50%;
  top: 371px;
  transform: translateX(25px);
  z-index: -1;
}
.scissors {
  background: url("/images/scissors.jpg") no-repeat;
  width: 174px;
  height: 140px;
  position: absolute;
  right: 50%;
  bottom: 40px;
  transform: translateX(-150px);
  z-index: -1;
}
.handcream {
  background: url("/images/handcream.png") no-repeat;
  width: 211px;
  height: 70px;
  position: absolute;
  left: 50%;
  bottom: 130px;
  transform: translateX(170px);
  z-index: -1;
}
