@font-face {
  font-family: 'montserratblack';
  src: url("/fonts/montserrat-black-webfont.woff2") format("woff2"), url("/fonts/montserrat-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratbold';
  src: url("/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratextrabold';
  src: url("/fonts/montserrat-extrabold-webfont.woff2") format("woff2"), url("/fonts/montserrat-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratextralight';
  src: url("/fonts/montserrat-extralight-webfont.woff2") format("woff2"), url("/fonts/montserrat-extralight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratlight';
  src: url("/fonts/montserrat-light-webfont.woff2") format("woff2"), url("/fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratmedium';
  src: url("/fonts/montserrat-medium-webfont.woff2") format("woff2"), url("/fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratregular';
  src: url("/fonts/montserrat-regular-webfont.woff2") format("woff2"), url("/fonts/montserrat-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratsemibold';
  src: url("/fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("/fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'montserratthin';
  src: url("/fonts/montserrat-thin-webfont.woff2") format("woff2"), url("/fonts/montserrat-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.flower {
  position: fixed;
  top: 190px; }
  .flower.flower--left {
    background: url("/images/flower--left.png") no-repeat top;
    height: 308px;
    width: 378px;
    background-size: contain;
    left: 0; }
  .flower.flower--right {
    background: url("/images/flower--right.png") no-repeat top;
    right: 0;
    height: 248px;
    width: 348px;
    background-size: contain; }

@media (max-width: 1200px) {
  .flower.flower--left {
    width: 264.6px;
    left: -10px; }
  .flower.flower--right {
    width: 243.6px;
    right: -10px; } }

@media (max-width: 850px) {
  .flower.flower--left {
    width: 189px;
    left: -30px; }
  .flower.flower--right {
    width: 174px;
    right: -30px; } }

@media (max-width: 750px) {
  .flower.flower--left {
    width: 151.2px;
    left: -30px; }
  .flower.flower--right {
    width: 139.2px;
    right: -30px; } }

body {
  background: #E7E7E7;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 15px; }

.section {
  position: relative; }

.menu ul {
  text-align: center;
  padding: 20px 0 7px; }
  .menu ul li {
    display: inline-block;
    padding: 0 20px;
    line-height: 14px;
    border-right: 1px solid black; }
    .menu ul li:last-child {
      border: none; }
    .menu ul li a {
      font-weight: 100;
      font-size: 12px;
      color: black;
      text-transform: uppercase; }

.section {
  background: url("/images/divider--type2.png") center top no-repeat;
  padding-top: 47px; }
  .section > .row {
    max-width: 700px;
    margin: 0 auto; }

.header {
  background: url("/images/divider--type1.png") center top no-repeat;
  padding-top: 41px;
  overflow: hidden;
  position: relative; }
  .header .col-12 {
    padding: 0; }

.ourservices {
  overflow: hidden; }
  .ourservices .text {
    margin: 130px auto 188px auto; }
  .ourservices .content {
    padding-bottom: 28px; }

.ourteam {
  overflow: hidden; }
  .ourteam h3 {
    height: 27px;
    margin: 30px auto;
    text-indent: -10000px;
    width: 151px; }
  .ourteam .martina img {
    max-width: 100%; }
  .ourteam .martina h3 {
    background: url("/images/martina__name.jpg") center center no-repeat;
    background-size: contain;
    max-width: 100%; }
  .ourteam .patricie img {
    max-width: 100%; }
  .ourteam .patricie h3 {
    background: url("/images/patriciezv__name.jpg") center center no-repeat;
    background-size: contain;
    max-width: 100%; }
  .ourteam .stepan img {
    max-width: 100%; }
  .ourteam .stepan h3 {
    background: url("/images/stepan__name.jpg") center center no-repeat;
    background-size: contain;
    max-width: 100%; }
  .ourteam .phone {
    font-weight: 400;
    padding: 10px 0 20px 0; }
  .ourteam .order {
    font-size: 16px;
    text-transform: uppercase;
    color: #b7b6b6;
    font-weight: 400;
    padding: 0 0 40px 0; }

.contact {
  background: url("/images/map.jpg") center bottom no-repeat;
  padding-bottom: 416px; }
  .contact h2 {
    margin-bottom: 20px; }
  .contact .address {
    background: url("/images/divider--type1.png") center top no-repeat;
    padding-top: 41px; }
    .contact .address p {
      font-size: 14px;
      font-family: 'montserratsemibold'; }
    .contact .address .big {
      font-size: 18px;
      font-family: 'montserratlight'; }
  .contact .socialicons {
    margin: 20px 0 40px; }

.footer {
  background: black;
  color: white;
  font-size: 12px;
  line-height: 34px; }
  .footer .section {
    background: none;
    padding-top: 0; }
  .footer .col-6:nth-child(2) {
    text-align: right; }
    .footer .col-6:nth-child(2) img {
      position: relative;
      top: -1px; }
  .footer p {
    margin: 0; }

h1 {
  background: url("/images/logo.png") center center no-repeat;
  text-indent: -10000px;
  height: 533px;
  margin: -50px auto 100px auto;
  width: 100%; }

h2 {
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 17px; }

.creams {
  background: url("/images/creams.png") no-repeat;
  width: 306px;
  height: 161px;
  position: absolute;
  left: 50%;
  top: 371px;
  transform: translateX(25px);
  z-index: -1; }

.scissors {
  background: url("/images/scissors.jpg") no-repeat;
  width: 174px;
  height: 140px;
  position: absolute;
  right: 50%;
  bottom: 40px;
  transform: translateX(-150px);
  z-index: -1; }

.handcream {
  background: url("/images/handcream.png") no-repeat;
  width: 211px;
  height: 70px;
  position: absolute;
  left: 50%;
  bottom: 130px;
  transform: translateX(170px);
  z-index: -1; }
